## Creating an Automated Replinshment Plan

In [140]:
import pandas as pd
from datetime import date
from sqlalchemy import create_engine, text

In [141]:


connection_string = (
    "mssql+pyodbc:///?odbc_connect="
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=DESKTOP-PGFBDFD\SQLEXPRESS;"
    "DATABASE=AlgeriaUspaV3T;"
    "Trusted_Connection=yes;"
)

engine = create_engine(connection_string)
df = pd.read_sql("SELECT TOP 10 * FROM ProductAttributes", engine)
print(df)

   ItemTypeCode   ItemCode ProductAtt01 ProductAtt02 ProductAtt03  \
0             1  100021356           01           01            S
1             1  100021357           01           01            S
2             1  100021358           01           01            S
3             1  100021359           01           01            S
4             1  100021360           01           01            S
5             1  100021361           01           01            S
6             1  100021362           01           02            S
7             1  100021363           01           02            S
8             1  100021364           01           02            S
9             1  100021365           01           02            S

  ProductAtt04 ProductAtt05 ProductAtt06 ProductAtt07 ProductAtt08  ...  \
0                         1                      2020       WINTER  ...
1                         1                      2020       WINTER  ...
2                         1                      2020       WINTER  ...
3                         1                      2020       WINTER  ...
4                         1                      2020       WINTER  ...
5                         1                      2020       WINTER  ...
6                         2                      2021       WINTER  ...
7                         3                      2021       WINTER  ...
8                         3                      2021       WINTER  ...
9                         2                      2021       WINTER  ...

  ProductAtt11 ProductAtt12 ProductAtt13 ProductAtt14 ProductAtt15  \
0           02                       G02       CA0025
1           02                       G02       CA0025
2           02                       G02       CA0025
3           02                       G02       CA0025
4           02                       G02       CA0025
5           02                       G02       CA0025
6           02                       G02       CA0025
7           02                       G02       CA0025
8           02                       G02       CA0025
9           02                       G02       CA0025

  ProductAtt16 ProductAtt17 ProductAtt18 ProductAtt19 ProductAtt20
0
1
2
3
4
5
6
7
8
9

[10 rows x 22 columns]

In [142]:
df = pd.read_sql("SELECT TOP 50 * FROM dbo.RetailSales WHERE OperationDate BETWEEN '2025-06-29' AND '2025-07-06'", engine)
print(df)

    CurrAccTypeCode CurrAccCode OperationDate OperationTime DocumentNumber  \
0                 4       1-4-1    2025-07-04      17:14:01   1-R-7-109191
1                 4       1-4-1    2025-07-04      17:14:01   1-R-7-109191
2                 4       1-4-1    2025-07-04      17:09:08   1-R-7-109190
3                 4       1-4-1    2025-07-04      17:26:47   1-R-7-109196
4                 4       1-4-1    2025-07-04      17:26:47   1-R-7-109196
5                 4   1-4-19486    2025-07-04      17:20:54   1-R-7-109193
6                 4   1-4-19486    2025-07-04      17:20:54   1-R-7-109193
7                 4       1-4-1    2025-07-04      18:49:24   1-R-7-109211
8                 4       1-4-1    2025-07-04      20:14:01   1-R-7-109229
9                 4       1-4-1    2025-07-04      19:59:21   1-R-7-109227
10                4       1-4-1    2025-07-04      19:59:21   1-R-7-109227
11                4       1-4-1    2025-07-04      17:28:19   1-R-7-109198
12                4       1-4-1    2025-07-04      17:29:10   1-R-7-109200
13                4       1-4-1    2025-07-04      17:29:10   1-R-7-109200
14                4       1-4-1    2025-07-04      17:37:29   1-R-7-109201
15                4       1-4-1    2025-07-04      18:31:53   1-R-7-109209
16                4       1-4-1    2025-07-04      17:57:31   1-R-7-109203
17                4    1-4-1011    2025-07-04      19:06:17   1-R-7-109217
18                4       1-4-1    2025-07-04      18:08:03   1-R-7-109205
19                4       1-4-1    2025-07-04      18:58:29   1-R-7-109214
20                4       1-4-1    2025-07-04      18:58:29   1-R-7-109214
21                4       1-4-1    2025-07-04      18:59:01   1-R-7-109215
22                4       1-4-1    2025-07-04      18:59:01   1-R-7-109215
23                4       1-4-1    2025-07-04      18:59:01   1-R-7-109215
24                4       1-4-1    2025-07-04      19:18:06   1-R-7-109218
25                4   1-4-10086    2025-07-04      18:15:29   1-R-7-109206
26                4   1-4-19491    2025-07-04      20:52:26   1-R-7-109242
27                4   1-4-19491    2025-07-04      20:52:26   1-R-7-109242
28                4   1-4-19491    2025-07-04      20:52:26   1-R-7-109242
29                4   1-4-19491    2025-07-04      20:52:26   1-R-7-109242
30                4       1-4-1    2025-07-04      19:35:33   1-R-7-109222
31                4       1-4-1    2025-07-04      19:35:33   1-R-7-109222
32                4       1-4-1    2025-07-04      19:21:52   1-R-7-109220
33                4       1-4-1    2025-07-04      19:21:52   1-R-7-109220
34                4       1-4-1    2025-07-04      18:45:23   1-R-7-109210
35                4   1-4-19489    2025-07-04      19:49:54   1-R-7-109225
36                4       1-4-1    2025-07-04      18:51:34   1-R-7-109212
37                4       1-4-1    2025-07-04      18:51:34   1-R-7-109212
38                4       1-4-1    2025-07-04      20:11:57   1-R-7-109228
39                4       1-4-1    2025-07-04      20:11:57   1-R-7-109228
40                4   1-4-19488    2025-07-04      19:01:23   1-R-7-109216
41                4       1-4-1    2025-07-04      19:18:13   1-R-7-109219
42                4       1-4-1    2025-07-04      19:58:10   1-R-7-109226
43                4    1-4-7831    2025-07-04      19:38:34   1-R-7-109224
44                4    1-4-7831    2025-07-04      19:38:34   1-R-7-109224
45                4    1-4-7831    2025-07-04      19:38:34   1-R-7-109224
46                4       1-4-1    2025-07-04      19:26:47   1-R-7-109221
47                4       1-4-1    2025-07-04      19:35:48   1-R-7-109223
48                4       1-4-1    2025-07-04      20:18:29   1-R-7-109231
49                4       1-4-1    2025-07-04      22:19:41   1-R-7-109281

   SeriesNumber  IsReturn  ProcessFlowCode  ItemTypeCode   ItemCode  ...  \
0             0     False                7             1    2084151  ...
1             0     False                7             1    2098522  ...
2             0     False                7             1       YORU  ...
3             0     False                7             1    2084410  ...
4             0     False                7             1    2084410  ...
5             0     False                7             1    1576591  ...
6             0     False                7             1    1838503  ...
7             0     False                7             1      80188  ...
8             0     False                7             1    2075027  ...
9             0     False                7             1     563132  ...
10            0     False                7             1     580231  ...
11            0     False                7             1    1838356  ...
12            0     False                7             1    2084243  ...
13            0     False                7             1    2084410  ...
14            0     False                7             1    2084410  ...
15            0     False                7             1    1831575  ...
16            0     False                7             1    1582322  ...
17            0     False                7             1    2080749  ...
18            0     False                7             1    2084410  ...
19            0      True                7             1    2105080  ...
20            0      True                7             1    2084143  ...
21            0     False                7             1    2105080  ...
22            0     False                7             1    2084143  ...
23            0     False                7             1    US25151  ...
24            0     False                7             1      80449  ...
25            0     False                7             1    2106190  ...
26            0     False                7             1    2084662  ...
27            0     False                7             1    1795511  ...
28            0     False                7             1    2084591  ...
29            0     False                7             1    2084628  ...
30            0     False                7             1      22003  ...
31            0     False                7             1    2075027  ...
32            0     False                7             1    2083928  ...
33            0     False                7             1    2083928  ...
34            0     False                7             1    2084151  ...
35            0     False                7             1    1360141  ...
36            0     False                7             1    2083944  ...
37            0     False                7             1    2084410  ...
38            0     False                7             1    2084591  ...
39            0     False                7             1    2084591  ...
40            0     False                7             1    1940435  ...
41            0     False                7             1    2106589  ...
42            0     False                7             1    2084243  ...
43            0     False                7             1    1795967  ...
44            0     False                7             1    2084591  ...
45            0     False                7             1  101686886  ...
46            0     False                7             1    1873679  ...
47            0     False                7             1    2084410  ...
48            0     False                7             1    1838584  ...
49            0     False                7             1   USC25364  ...

   FormType SortOrder                                LineID  \
0         0       300  BAC6022E-E842-45C4-A457-B310010B8230
1         0       300  7A310DA6-C0AE-45C7-BDD4-B310010B9BCA
2         0       300  C7F9F6C9-C729-461E-9D9D-B310010A77D9
3         0       300  558C708E-50AC-4D3A-8BB9-B310010F0098
4         0       300  ADCA2991-F7F1-4048-9E0F-B310010F10FC
5         0       300  ABC97500-9695-42E6-BAC4-B310010D6576
6         0       300  B3E4B206-A898-4EF7-9C1E-B310010D6E49
7         0       300  EA1AF9EB-BDB5-4E7E-B5BE-B310011525D1
8         0       300  6EF07FF2-D71D-4F23-AC7D-B310013CE956
9         0       300  5CB74241-AB61-44EA-8E2A-B3100138DDE1
10        0       300  E1287AF7-BB53-4E4E-9182-B31001394D1A
11        0       300  BC041CF7-2017-4A5C-96D8-B310010F7709
12        0       300  0DD913E1-EDB6-45DF-A6CB-B310010FB111
13        0       300  C0D1703C-D56A-4C27-9636-B310010FB991
14        0       300  0A1F461C-15A2-4125-B898-B3100111EFC6
15        0       300  A9FA3FBB-C92A-4F93-9C32-B31001210512
16        0       300  196DD8C9-ECF5-42F7-915D-B31001176B2B
17        0       300  0A047076-0AA3-417A-9CD7-B3100119D503
18        0       300  2A84210E-CE76-40F4-A777-B310011A5003
19        0       400  6D58A407-F0F8-426A-8BDB-B3100117B5D6
20        0       400  F57FAAB6-0917-4C3A-9D1C-B3100117B7BE
21        0       300  4273DC92-8615-4529-B4F9-B3100117D13D
22        0       300  4A6D532C-C67A-4BBE-B57C-B3100117DE57
23        0       300  548BBFFB-2621-4F73-903E-B31001183A5A
24        0       300  2ABAB635-8488-49C0-937F-B310011D0E0E
25        0       300  82E27BDF-8F43-4216-9D80-B310011C5C3B
26        0       300  8CF81589-6C8C-4B3C-A069-B310014777D0
27        0       300  DAAF4B3E-D49B-48A4-A7F3-B3100147AA13
28        0       300  BCF355C2-6EF7-45ED-9F29-B3100147C018
29        0       300  EC82DB66-8766-4569-8D9E-B3100147D424
30        0       300  88969C78-A7D2-4541-8CD1-B3100121E06F
31        0       300  BCF9B2B0-A93C-4B23-8C5D-B3100121FD42
32        0       300  FEBE24CF-912B-4BBD-BEFB-B310012E9220
33        0       300  8B756912-FCC6-4E80-A124-B310012EAEFA
34        0       300  9F44B9D0-CF0C-4BC7-AA34-B3100124C8E6
35        0       300  56D9904D-D334-4187-9C84-B3100125BF61
36        0       300  280A4C15-2EC2-4625-AB11-B31001266F48
37        0       300  76E5C03F-8BA7-4C9A-8B4A-B31001268B3B
38        0       300  151B1F8F-C9DF-46A6-8B2F-B310012BD2A9
39        0       300  8D70AADD-B509-4F9E-AC32-B310012BE6E3
40        0       300  86A0040E-6A72-4AC9-A769-B31001294510
41        0       300  B85B50F8-EB70-4D65-8BDC-B310012D7DF6
42        0       300  32D40392-EF5F-45B6-88ED-B3100138A848
43        0       300  6722A7A4-6C01-41B2-B8E9-B3100132F77A
44        0       300  A2217CD5-943B-41B8-94CE-B3100133396E
45        0       300  9F47E5F2-33A7-4268-B6EA-B310013353B4
46        0       300  5A427359-0168-4E92-A689-B310012FF591
47        0       300  F410730D-228A-4FBC-877B-B31001326D77
48        0       300  7C348AEC-9000-40B2-8468-B310013E1FE9
49        0       300  522303F9-CFB4-4BEF-8557-B310015F5762

                                HeaderID  \
0   F68509E8-6650-46A9-8F76-B310010A4EA0
1   F68509E8-6650-46A9-8F76-B310010A4EA0
2   54AD7EFD-9AC8-4B9D-B188-B310010A6D8A
3   2EFE2B78-5E19-4AE5-8E83-B310010A9934
4   2EFE2B78-5E19-4AE5-8E83-B310010A9934
5   2D7B9B8E-7166-4049-AC51-B310010BCBFF
6   2D7B9B8E-7166-4049-AC51-B310010BCBFF
7   850C0009-E1D3-4BEA-9014-B310010E5DA5
8   93F6B8FB-1E14-448F-BF5E-B310010ED7C3
9   78728076-336A-4EEB-9E15-B310010EE467
10  78728076-336A-4EEB-9E15-B310010EE467
11  55E1CA13-5EC8-41E3-A870-B310010F5D1A
12  736B06C9-0B58-4E2A-9AE8-B310010F98BD
13  736B06C9-0B58-4E2A-9AE8-B310010F98BD
14  E43ACDB8-5E11-4131-B157-B310010FE0B8
15  618A56BD-03D7-4ACF-9BDF-B31001127091
16  2583E1DB-E9E4-47C9-9CB0-B31001173580
17  CE3ABBD2-CD00-409C-B974-B31001174E45
18  0C6E18DA-4B5C-452F-A5E9-B31001179DE9
19  83466C61-D712-4EBE-9441-B3100117B58A
20  83466C61-D712-4EBE-9441-B3100117B58A
21  F32246B4-6FC2-4964-A66E-B3100117BF0F
22  F32246B4-6FC2-4964-A66E-B3100117BF0F
23  F32246B4-6FC2-4964-A66E-B3100117BF0F
24  55D728EF-1C8B-43AD-AFC4-B310011A1036
25  0A87BABC-A4D0-4F77-992B-B310011A9A3D
26  806B3CB9-DCBF-4411-AC05-B310011C8C04
27  806B3CB9-DCBF-4411-AC05-B310011C8C04
28  806B3CB9-DCBF-4411-AC05-B310011C8C04
29  806B3CB9-DCBF-4411-AC05-B310011C8C04
30  11C5FEEE-37D3-4D09-B88A-B310011D9A71
31  11C5FEEE-37D3-4D09-B88A-B310011D9A71
32  92411B10-95DB-49A1-BB82-B3100120E28F
33  92411B10-95DB-49A1-BB82-B3100120E28F
34  3144CCEC-8640-46CA-8DC5-B31001217807
35  540EB5D6-E0FE-4CA2-AEA9-B31001223C34
36  003FCFDE-D408-4A07-A155-B310012526AA
37  003FCFDE-D408-4A07-A155-B310012526AA
38  679BD483-4979-432B-8224-B310012682A8
39  679BD483-4979-432B-8224-B310012682A8
40  233D2E2D-ECF0-44EC-8D11-B3100126E0A3
41  F5B52F18-FD84-4372-9D12-B310012778C4
42  C9C631E0-2E46-41A9-BDF7-B3100129F19D
43  508C6647-AE53-49AA-91E7-B310012E1763
44  508C6647-AE53-49AA-91E7-B310012E1763
45  508C6647-AE53-49AA-91E7-B310012E1763
46  3954023E-8988-4630-937C-B310012EDF69
47  0C644816-5820-42F1-8ABE-B310013039C0
48  1112ED1E-52B3-4033-90DC-B3100132A18E
49  60CA01F4-4905-4461-A202-B3100133E461

                           OrderHeaderID LastUpdatedUserName  \
0   00000000-0000-0000-0000-000000000000         STR  ARD_C3
1   00000000-0000-0000-0000-000000000000         STR  ARD_C3
2   00000000-0000-0000-0000-000000000000         str  orn_c1
3   00000000-0000-0000-0000-000000000000         str  orn_c1
4   00000000-0000-0000-0000-000000000000         str  orn_c1
5   00000000-0000-0000-0000-000000000000         STR  ARD_C3
6   00000000-0000-0000-0000-000000000000         STR  ARD_C3
7   00000000-0000-0000-0000-000000000000         STR  CHE_C2
8   00000000-0000-0000-0000-000000000000         STR  ARD_C3
9   00000000-0000-0000-0000-000000000000          STR  CC_C2
10  00000000-0000-0000-0000-000000000000          STR  CC_C2
11  00000000-0000-0000-0000-000000000000         str  orn_c1
12  00000000-0000-0000-0000-000000000000         str  orn_c1
13  00000000-0000-0000-0000-000000000000         str  orn_c1
14  00000000-0000-0000-0000-000000000000         str  orn_c1
15  00000000-0000-0000-0000-000000000000         str  orn_c1
16  00000000-0000-0000-0000-000000000000         STR  STF_C3
17  00000000-0000-0000-0000-000000000000         STR  CHE_C2
18  00000000-0000-0000-0000-000000000000         STR  STF_C3
19  00000000-0000-0000-0000-000000000000         STR  CHE_C2
20  00000000-0000-0000-0000-000000000000         STR  CHE_C2
21  00000000-0000-0000-0000-000000000000         STR  CHE_C2
22  00000000-0000-0000-0000-000000000000         STR  CHE_C2
23  00000000-0000-0000-0000-000000000000         STR  CHE_C2
24  00000000-0000-0000-0000-000000000000         STR  CHE_C2
25  00000000-0000-0000-0000-000000000000         STR  STF_C3
26  00000000-0000-0000-0000-000000000000         STR  STF_C3
27  00000000-0000-0000-0000-000000000000         STR  STF_C3
28  00000000-0000-0000-0000-000000000000         STR  STF_C3
29  00000000-0000-0000-0000-000000000000         STR  STF_C3
30  00000000-0000-0000-0000-000000000000         STR  CHE_C2
31  00000000-0000-0000-0000-000000000000         STR  CHE_C2
32  00000000-0000-0000-0000-000000000000         STR  BEZ_C1
33  00000000-0000-0000-0000-000000000000         STR  BEZ_C1
34  00000000-0000-0000-0000-000000000000         str  orn_c1
35  00000000-0000-0000-0000-000000000000         STR  CHE_C2
36  00000000-0000-0000-0000-000000000000         str  orn_c1
37  00000000-0000-0000-0000-000000000000         str  orn_c1
38  00000000-0000-0000-0000-000000000000         STR  CHE_C2
39  00000000-0000-0000-0000-000000000000         STR  CHE_C2
40  00000000-0000-0000-0000-000000000000         str  orn_c1
41  00000000-0000-0000-0000-000000000000          STR  AZ_C4
42  00000000-0000-0000-0000-000000000000         str  orn_c1
43  00000000-0000-0000-0000-000000000000          STR  AZ_C4
44  00000000-0000-0000-0000-000000000000          STR  AZ_C4
45  00000000-0000-0000-0000-000000000000          STR  AZ_C4
46  00000000-0000-0000-0000-000000000000         STR  BEZ_C1
47  00000000-0000-0000-0000-000000000000         STR  BEZ_C1
48  00000000-0000-0000-0000-000000000000         STR  BEZ_C1
49  00000000-0000-0000-0000-000000000000          STR  AZ_C4

           LastUpdatedDate ATAtt01 DeliveryStatus  TransactionDeliveryDetail
0  2025-07-04 17:14:01.403    None              1  2025-07-04 / 1-R-7-109191
1  2025-07-04 17:14:20.350    None              1  2025-07-04 / 1-R-7-109191
2  2025-07-04 17:08:56.700    None              1  2025-07-04 / 1-R-7-109190
3  2025-07-04 17:26:47.110    None              1  2025-07-04 / 1-R-7-109196
4  2025-07-04 17:26:48.847    None              1  2025-07-04 / 1-R-7-109196
5  2025-07-04 17:20:54.270    None              1  2025-07-04 / 1-R-7-109193
6  2025-07-04 17:20:58.470    None              1  2025-07-04 / 1-R-7-109193
7  2025-07-04 18:49:24.807    None              1  2025-07-04 / 1-R-7-109211
8  2025-07-04 20:14:01.437    None              1  2025-07-04 / 1-R-7-109229
9  2025-07-04 20:01:49.963    None              1  2025-07-04 / 1-R-7-109227
10 2025-07-04 20:01:50.197    None              1  2025-07-04 / 1-R-7-109227
11 2025-07-04 17:28:18.357    None              1  2025-07-04 / 1-R-7-109198
12 2025-07-04 17:29:09.133    None              1  2025-07-04 / 1-R-7-109200
13 2025-07-04 17:29:11.717    None              1  2025-07-04 / 1-R-7-109200
14 2025-07-04 17:37:23.090    None              1  2025-07-04 / 1-R-7-109201
15 2025-07-04 18:31:49.790    None              1  2025-07-04 / 1-R-7-109209
16 2025-07-04 17:57:32.020    None              1  2025-07-04 / 1-R-7-109203
17 2025-07-04 19:06:17.633    None              1  2025-07-04 / 1-R-7-109217
18 2025-07-04 18:08:03.633    None              1  2025-07-04 / 1-R-7-109205
19 2025-07-04 18:58:30.047    None              1
20 2025-07-04 18:58:30.703    None              1
21 2025-07-04 18:59:01.923    None              1  2025-07-04 / 1-R-7-109215
22 2025-07-04 18:59:04.210    None              1  2025-07-04 / 1-R-7-109215
23 2025-07-04 19:00:22.657    None              1  2025-07-04 / 1-R-7-109215
24 2025-07-04 19:18:07.083    None              1  2025-07-04 / 1-R-7-109218
25 2025-07-04 18:15:29.950    None              1  2025-07-04 / 1-R-7-109206
26 2025-07-04 20:53:06.737    None              1  2025-07-04 / 1-R-7-109242
27 2025-07-04 20:53:06.160    None              1  2025-07-04 / 1-R-7-109242
28 2025-07-04 20:53:24.977    None              1  2025-07-04 / 1-R-7-109242
29 2025-07-04 20:54:35.737    None              1  2025-07-04 / 1-R-7-109242
30 2025-07-04 19:35:33.933    None              1  2025-07-04 / 1-R-7-109222
31 2025-07-04 19:35:54.743    None              1  2025-07-04 / 1-R-7-109222
32 2025-07-04 19:21:52.517    None              1  2025-07-04 / 1-R-7-109220
33 2025-07-04 19:22:02.620    None              1  2025-07-04 / 1-R-7-109220
34 2025-07-04 18:45:20.130    None              1  2025-07-04 / 1-R-7-109210
35 2025-07-04 19:49:54.320    None              1  2025-07-04 / 1-R-7-109225
36 2025-07-04 18:51:27.493    None              1  2025-07-04 / 1-R-7-109212
37 2025-07-04 18:51:31.043    None              1  2025-07-04 / 1-R-7-109212
38 2025-07-04 20:11:57.617    None              1  2025-07-04 / 1-R-7-109228
39 2025-07-04 20:12:00.153    None              1  2025-07-04 / 1-R-7-109228
40 2025-07-04 19:01:19.763    None              1  2025-07-04 / 1-R-7-109216
41 2025-07-04 19:18:14.140    None              1  2025-07-04 / 1-R-7-109219
42 2025-07-04 19:58:08.813    None              1  2025-07-04 / 1-R-7-109226
43 2025-07-04 19:38:34.463    None              1  2025-07-04 / 1-R-7-109224
44 2025-07-04 19:38:35.950    None              1  2025-07-04 / 1-R-7-109224
45 2025-07-04 19:38:58.430    None              1  2025-07-04 / 1-R-7-109224
46 2025-07-04 19:26:47.640    None              1  2025-07-04 / 1-R-7-109221
47 2025-07-04 19:35:48.510    None              1  2025-07-04 / 1-R-7-109223
48 2025-07-04 20:18:29.820    None              1  2025-07-04 / 1-R-7-109231
49 2025-07-04 22:19:41.997    None              1  2025-07-04 / 1-R-7-109281

[50 rows x 48 columns]

In [172]:
# === Config ===
store_list = ['BEZ', 'CHE', 'AD', 'ORN', 'STF', 'ARD', 'AZ', 'CC']
warehouse_code = 'PRI'
start_date = '2025-07-02'
end_date = '2025-07-06'
plan_date = '2025-07-06'

In [173]:
name_query = text("""
SELECT
    ItemCode,
    ItemDescription
FROM dbo.cdItemDesc                 
""")
name_df = pd.read_sql(name_query, engine)
print(name_df)

       ItemCode ItemDescription
0     100021356           HY001
1     100021357           HY001
2     100021358           HY001
3     100021359           HY001
4     100021360           HY001
...         ...             ...
7089       ExD2     Kur Fark覺 3
7090        TZM        Tazminat
7091         VF      Vade Fark覺
7092        VF1    Vade Fark覺 1
7093        VF2    Vade Fark覺 2

[7094 rows x 2 columns]

In [174]:
barcode_query = text("""
SELECT 
    ItemCode,
    ColorCode,
    ItemDim1Code,
    Barcode
FROM dbo.prItemBarcode  
""")
barcode_df = pd.read_sql(barcode_query, engine)
print(barcode_df)

        ItemCode ColorCode ItemDim1Code        Barcode
0      100021356      C044           40  8600000000011
1      100021356      C044           41  8600000000028
2      100021356      C044           42  8600000000035
3      100021356      C044           43  8600000000042
4      100021356      C044           44  8600000000059
...          ...       ...          ...            ...
66421     YP8186         1           56  8681896033765
66422     YP8186         1           58  8681896033789
66423      ZERDA     VR033            0  8682107842800
66424      ZERDA     VR041            0  8682107842824
66425      ZERDA     VR071            0  8682107842817

[66426 rows x 4 columns]

In [175]:
store_list = ['BEZ', 'CHE', 'AD', 'ORN', 'STF', 'ARD', 'AZ', 'CC']
formatted_store_list = ', '.join(f"'{store}'" for store in store_list)

sales_sql = f"""
SELECT 
    StoreCode,
    ItemCode,
    ColorCode,
    ItemDim1Code,
    SUM(CASE WHEN IsReturn = 1 THEN -Qty1 ELSE Qty1 END) AS NetQty
FROM dbo.RetailSales
WHERE StoreCode IN ({formatted_store_list})
  AND OperationDate BETWEEN :start AND :end
GROUP BY StoreCode, ItemCode, ColorCode, ItemDim1Code
HAVING SUM(CASE WHEN IsReturn = 1 THEN -Qty1 ELSE Qty1 END) > 0
"""

# Then run it with only the dates as parameters
sales_df = pd.read_sql(text(sales_sql), engine, params={
    'start': start_date,
    'end': end_date
})

In [176]:
# --- Get warehouse available inventory ---
stock_sql = text("""
SELECT 
    ItemCode,
    ColorCode,
    ItemDim1Code,
    AvailableInventoryQty1
FROM dbo.ItemInventory
WHERE WarehouseCode = :wh
""")
stock_df = pd.read_sql(stock_sql, engine, params={'wh': warehouse_code})
print(stock_df, engine)

          ItemCode ColorCode ItemDim1Code  AvailableInventoryQty1
0        100021356      C044           40                     0.0
1        100021356      C044           41                     0.0
2        100021356      C044           42                     0.0
3        100021356      C044           43                     1.0
4        100021357      C074           40                     0.0
...            ...       ...          ...                     ...
16664  YOCHAPB0135    PB0135           9X                     2.0
16665         YORU     VR013            0                     5.0
16666         YORU     VR028            0                    12.0
16667         YORU     VR033            0                     8.0
16668         YORU     VR183            0                     0.0

[16669 rows x 4 columns] Engine(mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DDESKTOP-PGFBDFD%5CSQLEXPRESS%3BDATABASE%3DAlgeriaUspaV3T%3BTrusted_Connection%3Dyes%3B)

In [177]:
pri = pd.read_sql("SELECT TOP 50 * FROM dbo.ItemInventory WHERE WarehouseCode LIKE 'PRI' ", engine)
print(pri)

    CompanyCode OfficeCode  StoreTypeCode StoreCode WarehouseCode  \
0           1.0          M              5                     PRI
1           1.0          M              5                     PRI
2           1.0          M              5                     PRI
3           1.0          M              5                     PRI
4           1.0          M              5                     PRI
5           1.0          M              5                     PRI
6           1.0          M              5                     PRI
7           1.0          M              5                     PRI
8           1.0          M              5                     PRI
9           1.0          M              5                     PRI
10          1.0          M              5                     PRI
11          1.0          M              5                     PRI
12          1.0          M              5                     PRI
13          1.0          M              5                     PRI
14          1.0          M              5                     PRI
15          1.0          M              5                     PRI
16          1.0          M              5                     PRI
17          1.0          M              5                     PRI
18          1.0          M              5                     PRI
19          1.0          M              5                     PRI
20          1.0          M              5                     PRI
21          1.0          M              5                     PRI
22          1.0          M              5                     PRI
23          1.0          M              5                     PRI
24          1.0          M              5                     PRI
25          1.0          M              5                     PRI
26          1.0          M              5                     PRI
27          1.0          M              5                     PRI
28          1.0          M              5                     PRI
29          1.0          M              5                     PRI
30          1.0          M              5                     PRI
31          1.0          M              5                     PRI
32          1.0          M              5                     PRI
33          1.0          M              5                     PRI
34          1.0          M              5                     PRI
35          1.0          M              5                     PRI
36          1.0          M              5                     PRI
37          1.0          M              5                     PRI
38          1.0          M              5                     PRI
39          1.0          M              5                     PRI
40          1.0          M              5                     PRI
41          1.0          M              5                     PRI
42          1.0          M              5                     PRI
43          1.0          M              5                     PRI
44          1.0          M              5                     PRI
45          1.0          M              5                     PRI
46          1.0          M              5                     PRI
47          1.0          M              5                     PRI
48          1.0          M              5                     PRI
49          1.0          M              5                     PRI

    ItemTypeCode   ItemCode ColorCode ItemDim1Code ItemDim2Code ItemDim3Code  \
0              1  100021356      C044           40
1              1  100021356      C044           41
2              1  100021356      C044           42
3              1  100021356      C044           43
4              1  100021357      C074           40
5              1  100021357      C074           41
6              1  100021357      C074           42
7              1  100021357      C074           43
8              1  100021357      C074           45
9              1  100021358     C0249           40
10             1  100021358     C0249           41
11             1  100021358     C0249           42
12             1  100021358     C0249           43
13             1  100021358     C0249           45
14             1  100021359     C0249           41
15             1  100021364      C044           37
16             1  100021364      C044           38
17             1  100021365      C044           37
18             1  100021369     C0222           40
19             1  100021369     C0222           41
20             1  100021369     C0222           42
21             1  100021369     C0222           43
22             1  100021370     C0249           36
23             1  100021370     C0249           37
24             1  100248353      C074           43
25             1  100248390      C044           44
26             1  100248391      C074           43
27             1  100248391      C074           44
28             1  100248391      C074           45
29             1  100248484     C0170           45
30             1  100248531      C047           44
31             1  100248531      C047           45
32             1  100248593      C074           44
33             1  100248610      C044           44
34             1  100248610      C044           45
35             1  100248617      C044           43
36             1  100248636      C044           43
37             1  100248636      C044           44
38             1  100249633      C044           38
39             1  100249747     C0249           44
40             1  100263373     C0249           38
41             1  100263392      C080           33
42             1  100263392      C080           34
43             1  100279211      C080           37
44             1  100326797     C0288           38
45             1  100357277      C044           41
46             1  100357277      C044           44
47             1  100357277      C044           45
48             1  100357278      C074           43
49             1  100374534     C0302           36

    InventoryQty1  RemainingReserveQty1  RemainingDispOrderQty1  \
0             0.0                   0.0                     0.0
1             0.0                   0.0                     0.0
2             0.0                   0.0                     0.0
3             1.0                   0.0                     0.0
4             0.0                   0.0                     0.0
5             0.0                   0.0                     0.0
6             0.0                   0.0                     0.0
7             0.0                   0.0                     0.0
8            -1.0                   0.0                     0.0
9             0.0                   0.0                     0.0
10            0.0                   0.0                     0.0
11            0.0                   0.0                     0.0
12            0.0                   0.0                     0.0
13            0.0                   0.0                     0.0
14            0.0                   0.0                     0.0
15            0.0                   0.0                     0.0
16            0.0                   0.0                     0.0
17            0.0                   0.0                     0.0
18            0.0                   0.0                     0.0
19            0.0                   0.0                     0.0
20            0.0                   0.0                     0.0
21            0.0                   0.0                     0.0
22            0.0                   0.0                     0.0
23            0.0                   0.0                     0.0
24            0.0                   0.0                     0.0
25            0.0                   0.0                     0.0
26            0.0                   0.0                     0.0
27            0.0                   0.0                     0.0
28            0.0                   0.0                     0.0
29            0.0                   0.0                     0.0
30            0.0                   0.0                     0.0
31            0.0                   0.0                     0.0
32            0.0                   0.0                     0.0
33            0.0                   0.0                     0.0
34            0.0                   0.0                     0.0
35            0.0                   0.0                     0.0
36            0.0                   0.0                     0.0
37            0.0                   0.0                     0.0
38            0.0                   0.0                     0.0
39            0.0                   0.0                     0.0
40            0.0                   0.0                     0.0
41            0.0                   0.0                     0.0
42            0.0                   0.0                     0.0
43            0.0                   0.0                     0.0
44            0.0                   0.0                     0.0
45            0.0                   0.0                     0.0
46            0.0                   0.0                     0.0
47            0.0                   0.0                     0.0
48            0.0                   0.0                     0.0
49            1.0                   0.0                     0.0

    RemainingPickingQty1  AvailableInventoryQty1
0                    0.0                     0.0
1                    0.0                     0.0
2                    0.0                     0.0
3                    0.0                     1.0
4                    0.0                     0.0
5                    0.0                     0.0
6                    0.0                     0.0
7                    0.0                     0.0
8                    0.0                    -1.0
9                    0.0                     0.0
10                   0.0                     0.0
11                   0.0                     0.0
12                   0.0                     0.0
13                   0.0                     0.0
14                   0.0                     0.0
15                   0.0                     0.0
16                   0.0                     0.0
17                   0.0                     0.0
18                   0.0                     0.0
19                   0.0                     0.0
20                   0.0                     0.0
21                   0.0                     0.0
22                   0.0                     0.0
23                   0.0                     0.0
24                   0.0                     0.0
25                   0.0                     0.0
26                   0.0                     0.0
27                   0.0                     0.0
28                   0.0                     0.0
29                   0.0                     0.0
30                   0.0                     0.0
31                   0.0                     0.0
32                   0.0                     0.0
33                   0.0                     0.0
34                   0.0                     0.0
35                   0.0                     0.0
36                   0.0                     0.0
37                   0.0                     0.0
38                   0.0                     0.0
39                   0.0                     0.0
40                   0.0                     0.0
41                   0.0                     0.0
42                   0.0                     0.0
43                   0.0                     0.0
44                   0.0                     0.0
45                   0.0                     0.0
46                   0.0                     0.0
47                   0.0                     0.0
48                   0.0                     0.0
49                   0.0                     1.0

In [178]:
replenishment_results = []

for store in store_list:
    store_sales = sales_df[sales_df['StoreCode'] == store]

    merged = pd.merge(
        store_sales,
        stock_df,
        on=['ItemCode', 'ColorCode', 'ItemDim1Code'],
        how='inner'
    )

    merged['ToTransfer'] = merged[['NetQty', 'AvailableInventoryQty1']].min(axis=1)
    plan_df = merged[merged['ToTransfer'] > 0].copy()

    plan_df['StoreID'] = store
    plan_df['PlanDate'] = plan_date
    plan_df['SourceWarehouse'] = warehouse_code
    plan_df.rename(columns={'ToTransfer': 'Quantity'}, inplace=True)

    replenishment_results.append(
        plan_df[['StoreID', 'ItemCode', 'ColorCode', 'ItemDim1Code', 'Quantity', 'PlanDate', 'SourceWarehouse']]
    )

# Combine all stores into one DataFrame
final_replenishment = pd.concat(replenishment_results, ignore_index=True)

In [179]:
pivot_df = final_replenishment.pivot_table(
    index=['ItemCode', 'ColorCode', 'ItemDim1Code'],   # Group by product
    columns='StoreID',                                 # Store codes as columns
    values='Quantity',                                 # Quantity as values
    aggfunc='sum',                                     # In case of duplicates
    fill_value=0                                       # Fill blanks with 0
)

# Reset index to make it a flat table
pivot_df = pivot_df.reset_index()

# Optionally add a total column
# Only sum columns that exist in pivot_df
existing_stores = [col for col in store_list if col in pivot_df.columns]
pivot_df['Total'] = pivot_df[existing_stores].sum(axis=1)


# Sort by total or item
pivot_df = pivot_df.sort_values(by='Total', ascending=False)

# Save to Excel

print(pivot_df, engine)

StoreID     ItemCode ColorCode ItemDim1Code   AD  ARD   AZ  BEZ   CC  CHE  \
229          2085130     VR033            L  2.0  0.0  0.0  2.0  0.0  2.0
147          2084410     VR079            L  0.0  1.0  0.0  1.0  0.0  0.0
297      EARLES-IY24     VR086            0  0.0  0.0  0.0  2.0  0.0  3.0
296      EARLES-IY24     VR046            0  0.0  0.0  0.0  5.0  0.0  2.0
237          2085130     VR049            L  1.0  2.0  0.0  0.0  0.0  1.0
..               ...       ...          ...  ...  ...  ...  ...  ...  ...
313        US1670-V1      C073          3_4  1.0  0.0  0.0  0.0  0.0  0.0
312        US1435-V1     C0305        10_11  0.0  0.0  1.0  0.0  0.0  0.0
311        US1377-V1      C038          3_4  1.0  0.0  0.0  0.0  0.0  0.0
310        US1372-V2      C038        13_14  0.0  0.0  0.0  0.0  0.0  0.0
1            1358148     VR085           31  1.0  0.0  0.0  0.0  0.0  0.0

StoreID  ORN  STF  Total
229      2.0  1.0    9.0
147      3.0  3.0    8.0
297      1.0  2.0    8.0
296      0.0  0.0    7.0
237      1.0  1.0    6.0
..       ...  ...    ...
313      0.0  0.0    1.0
312      0.0  0.0    1.0
311      0.0  0.0    1.0
310      1.0  0.0    1.0
1        0.0  0.0    1.0

[325 rows x 12 columns] Engine(mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DDESKTOP-PGFBDFD%5CSQLEXPRESS%3BDATABASE%3DAlgeriaUspaV3T%3BTrusted_Connection%3Dyes%3B)

In [180]:
# 1. Make sure store columns exist in pivot_df
for store in store_list:
    if store not in pivot_df.columns:
        pivot_df[store] = 0

# 2. Merge starting inventory correctly
# First ensure all key columns have same types
stock_df['ItemDim1Code'] = stock_df['ItemDim1Code'].astype(str)
pivot_df['ItemDim1Code'] = pivot_df['ItemDim1Code'].astype(str)

# Merge
stock_summary = stock_df[['ItemCode', 'ColorCode', 'ItemDim1Code', 'AvailableInventoryQty1']]
stock_summary = stock_summary.rename(columns={'AvailableInventoryQty1': 'StartingWarehouseQty'})

pivot_df = pd.merge(
    pivot_df,
    stock_summary,
    on=['ItemCode', 'ColorCode', 'ItemDim1Code'],
    how='left'
)

# 3. Fill any missing inventory values with 0
pivot_df['StartingWarehouseQty'] = pivot_df['StartingWarehouseQty'].fillna(0)

# 4. Compute remaining quantity
pivot_df['Total'] = pivot_df[store_list].sum(axis=1)
pivot_df['RemainingWarehouseQty'] = pivot_df['StartingWarehouseQty'] - pivot_df['Total']
pivot_df['RemainingWarehouseQty'] = pivot_df['RemainingWarehouseQty'].clip(lower=0)

In [181]:
pivot_df = pivot_df[[
    'ItemCode', 'ColorCode', 'ItemDim1Code',
    *store_list, 'Total', 'StartingWarehouseQty', 'RemainingWarehouseQty'
]]
print(pivot_df, engine)

        ItemCode ColorCode ItemDim1Code  BEZ  CHE   AD  ORN  STF  ARD   AZ  \
0        2085130     VR033            L  2.0  2.0  2.0  2.0  1.0  0.0  0.0
1        2084410     VR079            L  1.0  0.0  0.0  3.0  3.0  1.0  0.0
2    EARLES-IY24     VR086            0  2.0  3.0  0.0  1.0  2.0  0.0  0.0
3    EARLES-IY24     VR046            0  5.0  2.0  0.0  0.0  0.0  0.0  0.0
4        2085130     VR049            L  0.0  1.0  1.0  1.0  1.0  2.0  0.0
..           ...       ...          ...  ...  ...  ...  ...  ...  ...  ...
320    US1670-V1      C073          3_4  0.0  0.0  1.0  0.0  0.0  0.0  0.0
321    US1435-V1     C0305        10_11  0.0  0.0  0.0  0.0  0.0  0.0  1.0
322    US1377-V1      C038          3_4  0.0  0.0  1.0  0.0  0.0  0.0  0.0
323    US1372-V2      C038        13_14  0.0  0.0  0.0  1.0  0.0  0.0  0.0
324      1358148     VR085           31  0.0  0.0  1.0  0.0  0.0  0.0  0.0

      CC  Total  StartingWarehouseQty  RemainingWarehouseQty
0    0.0    9.0                  14.0                    5.0
1    0.0    8.0                  78.0                   70.0
2    0.0    8.0                 181.0                  173.0
3    0.0    7.0                 164.0                  157.0
4    0.0    6.0                   7.0                    1.0
..   ...    ...                   ...                    ...
320  0.0    1.0                   4.0                    3.0
321  0.0    1.0                   1.0                    0.0
322  0.0    1.0                   3.0                    2.0
323  0.0    1.0                  10.0                    9.0
324  0.0    1.0                   2.0                    1.0

[325 rows x 14 columns] Engine(mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DDESKTOP-PGFBDFD%5CSQLEXPRESS%3BDATABASE%3DAlgeriaUspaV3T%3BTrusted_Connection%3Dyes%3B)

In [182]:
# Ordering the result by itemcode then color code
pivot_df['ItemCode'] = pivot_df['ItemCode'].astype(str)
pivot_df['ColorCode'] = pivot_df['ColorCode'].astype(str)
pivot_df = pivot_df.sort_values(by=['ItemCode', 'ColorCode'])

In [183]:
item_inventory_df = pd.read_sql(
    text("SELECT * FROM dbo.ItemInventory"),
    engine
)
item_inventory_df['ItemDim1Code'] = item_inventory_df['ItemDim1Code'].astype(str)

In [184]:


# Filter for inventory rows where StoreCode matches a store (not warehouse stock)
store_inv_df = item_inventory_df[
    item_inventory_df['StoreCode'].isin(store_list) &
    item_inventory_df['WarehouseCode'].isin(store_list)  # This excludes warehouse rows
]

In [185]:
# Pivot so that each store has its own inventory column
store_inv_pivot = store_inv_df.pivot_table(
    index=['ItemCode', 'ColorCode', 'ItemDim1Code'],
    columns='StoreCode',
    values='AvailableInventoryQty1',
    aggfunc='sum',
    fill_value=0
)

# Rename columns to something like 'BEZ_Inv'
store_inv_pivot.columns = [f"{col}_Inv" for col in store_inv_pivot.columns]
store_inv_pivot = store_inv_pivot.reset_index()

In [186]:
pivot_df = pd.merge(
    pivot_df,
    store_inv_pivot,
    on=['ItemCode', 'ColorCode', 'ItemDim1Code'],
    how='left'
)

In [187]:
columns_order = ['ItemCode', 'ColorCode', 'ItemDim1Code']
for store in store_list:
    columns_order += [f'{store}_Inv', store]
columns_order += ['Total', 'StartingWarehouseQty', 'RemainingWarehouseQty']

pivot_df = pivot_df[columns_order]
print(pivot_df, engine)

       ItemCode ColorCode ItemDim1Code  BEZ_Inv  BEZ  CHE_Inv  CHE  AD_Inv  \
0     101156651      C074           35      0.0  0.0      0.0  0.0     0.0
1       1358148     VR085           31      0.0  0.0      0.0  0.0     1.0
2       1359493     VR027          4_5      2.0  0.0      0.0  0.0     2.0
3       1360141     VR027            L      0.0  0.0      2.0  1.0     0.0
4       1361739     VR036            M      0.0  0.0      0.0  0.0     2.0
..          ...       ...          ...      ...  ...      ...  ...     ...
320  USB2004-V1     C0449        18_24      0.0  0.0      0.0  0.0     1.0
321  USB2004-V1     C0449        12_18      0.0  0.0      0.0  0.0     1.0
322  USB2100-V1     C0141          0_3      0.0  0.0      1.0  0.0     0.0
323  USB2106-V1     C0141          0_3      0.0  1.0      1.0  0.0     2.0
324        YORU     VR033            0      2.0  0.0      0.0  0.0     0.0

      AD  ORN_Inv  ...  STF  ARD_Inv  ARD  AZ_Inv   AZ  CC_Inv   CC  Total  \
0    0.0      0.0  ...  0.0      0.0  0.0     0.0  1.0     0.0  0.0    1.0
1    1.0      0.0  ...  0.0      0.0  0.0     0.0  0.0     0.0  0.0    1.0
2    0.0      2.0  ...  0.0      0.0  0.0     0.0  0.0     0.0  0.0    2.0
3    0.0      3.0  ...  0.0      3.0  0.0     1.0  0.0     0.0  0.0    1.0
4    1.0      0.0  ...  0.0      0.0  0.0     0.0  0.0     0.0  0.0    1.0
..   ...      ...  ...  ...      ...  ...     ...  ...     ...  ...    ...
320  0.0      1.0  ...  0.0      1.0  0.0     0.0  0.0     1.0  0.0    1.0
321  0.0      0.0  ...  0.0      1.0  0.0     0.0  0.0     1.0  0.0    1.0
322  0.0      1.0  ...  1.0      0.0  0.0     0.0  0.0     0.0  0.0    1.0
323  0.0      2.0  ...  0.0      2.0  0.0     1.0  0.0     0.0  0.0    1.0
324  0.0      2.0  ...  0.0      0.0  0.0     0.0  0.0     2.0  0.0    1.0

     StartingWarehouseQty  RemainingWarehouseQty
0                     1.0                    0.0
1                     2.0                    1.0
2                     2.0                    0.0
3                     1.0                    0.0
4                     1.0                    0.0
..                    ...                    ...
320                   1.0                    0.0
321                   1.0                    0.0
322                   1.0                    0.0
323                  18.0                   17.0
324                   8.0                    7.0

[325 rows x 22 columns] Engine(mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DDESKTOP-PGFBDFD%5CSQLEXPRESS%3BDATABASE%3DAlgeriaUspaV3T%3BTrusted_Connection%3Dyes%3B)

In [188]:
result_with_barcode = pd.merge(
    pivot_df,
    barcode_df,
    on=['ItemCode', 'ColorCode', 'ItemDim1Code'],
    how='left'  # Use left join to preserve all replenishment rows
)

In [189]:
result_with_name = pd.merge(
    result_with_barcode,
    name_df,
    on = ['ItemCode'],
    how = 'left'
)
print(result_with_name)

       ItemCode ColorCode ItemDim1Code  BEZ_Inv  BEZ  CHE_Inv  CHE  AD_Inv  \
0     101156651      C074           35      0.0  0.0      0.0  0.0     0.0
1       1358148     VR085           31      0.0  0.0      0.0  0.0     1.0
2       1359493     VR027          4_5      2.0  0.0      0.0  0.0     2.0
3       1360141     VR027            L      0.0  0.0      2.0  1.0     0.0
4       1361739     VR036            M      0.0  0.0      0.0  0.0     2.0
..          ...       ...          ...      ...  ...      ...  ...     ...
321  USB2004-V1     C0449        18_24      0.0  0.0      0.0  0.0     1.0
322  USB2004-V1     C0449        12_18      0.0  0.0      0.0  0.0     1.0
323  USB2100-V1     C0141          0_3      0.0  0.0      1.0  0.0     0.0
324  USB2106-V1     C0141          0_3      0.0  1.0      1.0  0.0     2.0
325        YORU     VR033            0      2.0  0.0      0.0  0.0     0.0

      AD  ORN_Inv  ...  ARD  AZ_Inv   AZ  CC_Inv   CC  Total  \
0    0.0      0.0  ...  0.0     0.0  1.0     0.0  0.0    1.0
1    1.0      0.0  ...  0.0     0.0  0.0     0.0  0.0    1.0
2    0.0      2.0  ...  0.0     0.0  0.0     0.0  0.0    2.0
3    0.0      3.0  ...  0.0     1.0  0.0     0.0  0.0    1.0
4    1.0      0.0  ...  0.0     0.0  0.0     0.0  0.0    1.0
..   ...      ...  ...  ...     ...  ...     ...  ...    ...
321  0.0      1.0  ...  0.0     0.0  0.0     1.0  0.0    1.0
322  0.0      0.0  ...  0.0     0.0  0.0     1.0  0.0    1.0
323  0.0      1.0  ...  0.0     0.0  0.0     0.0  0.0    1.0
324  0.0      2.0  ...  0.0     1.0  0.0     0.0  0.0    1.0
325  0.0      2.0  ...  0.0     0.0  0.0     2.0  0.0    1.0

     StartingWarehouseQty  RemainingWarehouseQty        Barcode  \
0                     1.0                    0.0  8683398114379
1                     2.0                    1.0  8682733294202
2                     2.0                    0.0  8682733344600
3                     1.0                    0.0  8682733385139
4                     1.0                    0.0  8682733846470
..                    ...                    ...            ...
321                   1.0                    0.0  8684053126744
322                   1.0                    0.0  8684053126737
323                   1.0                    0.0  8684053210450
324                  18.0                   17.0  8684053210504
325                   8.0                    7.0  8683857086612

     ItemDescription
0          MOLLY 2FX
1            MICHAEL
2          EMBERKIDS
3               GADE
4            SEKENDO
..               ...
321          USB2004
322          USB2004
323          USB2100
324          USB2106
325             YORU

[326 rows x 24 columns]

In [190]:
attribute_query = text("""
SELECT 
    ItemCode, 
    GenderCode = ProductAtt02, 
    SubCategoryCode = ProductAtt14
FROM dbo.ProductAttributes                
""")
attribute_df = pd.read_sql(attribute_query, engine)
print(attribute_df)
#cdItemAttributeDesc

result_with_attribute = pd.merge(
    result_with_name,
    attribute_df,
    on = ['ItemCode'],
    how = 'left'
)
print(result_with_attribute)

       ItemCode GenderCode SubCategoryCode
0     100021356         01          CA0025
1     100021357         01          CA0025
2     100021358         01          CA0025
3     100021359         01          CA0025
4     100021360         01          CA0025
...         ...        ...             ...
7988     YP8065         01         CA00180
7989     YP8086         01         CA00180
7990     YP8089         01         CA00180
7991     YP8186         01         CA00180
7992      ZERDA         02          CA0026

[7993 rows x 3 columns]
       ItemCode ColorCode ItemDim1Code  BEZ_Inv  BEZ  CHE_Inv  CHE  AD_Inv  \
0     101156651      C074           35      0.0  0.0      0.0  0.0     0.0
1       1358148     VR085           31      0.0  0.0      0.0  0.0     1.0
2       1359493     VR027          4_5      2.0  0.0      0.0  0.0     2.0
3       1360141     VR027            L      0.0  0.0      2.0  1.0     0.0
4       1361739     VR036            M      0.0  0.0      0.0  0.0     2.0
..          ...       ...          ...      ...  ...      ...  ...     ...
321  USB2004-V1     C0449        18_24      0.0  0.0      0.0  0.0     1.0
322  USB2004-V1     C0449        12_18      0.0  0.0      0.0  0.0     1.0
323  USB2100-V1     C0141          0_3      0.0  0.0      1.0  0.0     0.0
324  USB2106-V1     C0141          0_3      0.0  1.0      1.0  0.0     2.0
325        YORU     VR033            0      2.0  0.0      0.0  0.0     0.0

      AD  ORN_Inv  ...   AZ  CC_Inv   CC  Total  StartingWarehouseQty  \
0    0.0      0.0  ...  1.0     0.0  0.0    1.0                   1.0
1    1.0      0.0  ...  0.0     0.0  0.0    1.0                   2.0
2    0.0      2.0  ...  0.0     0.0  0.0    2.0                   2.0
3    0.0      3.0  ...  0.0     0.0  0.0    1.0                   1.0
4    1.0      0.0  ...  0.0     0.0  0.0    1.0                   1.0
..   ...      ...  ...  ...     ...  ...    ...                   ...
321  0.0      1.0  ...  0.0     1.0  0.0    1.0                   1.0
322  0.0      0.0  ...  0.0     1.0  0.0    1.0                   1.0
323  0.0      1.0  ...  0.0     0.0  0.0    1.0                   1.0
324  0.0      2.0  ...  0.0     0.0  0.0    1.0                  18.0
325  0.0      2.0  ...  0.0     2.0  0.0    1.0                   8.0

     RemainingWarehouseQty        Barcode  ItemDescription  GenderCode  \
0                      0.0  8683398114379        MOLLY 2FX          03
1                      1.0  8682733294202          MICHAEL          01
2                      0.0  8682733344600        EMBERKIDS          03
3                      0.0  8682733385139             GADE          02
4                      0.0  8682733846470          SEKENDO          01
..                     ...            ...              ...         ...
321                    0.0  8684053126744          USB2004          05
322                    0.0  8684053126737          USB2004          05
323                    0.0  8684053210450          USB2100          05
324                   17.0  8684053210504          USB2106          05
325                    7.0  8683857086612             YORU          01

     SubCategoryCode
0                G02
1             CA0023
2              CA006
3            CA00167
4             CA0020
..               ...
321           CA0053
322           CA0053
323           CA0048
324           CA0048
325           CA0016

[326 rows x 26 columns]

In [191]:
# Get Gender
gender_query = text("""
SELECT 
   GenderCode = AttributeCode,
   GenderDescription = AttributeDescription 
    
FROM dbo.cdItemAttributeDesc
WHERE AttributeTypeCode LIKE '2'
""")
gender_df = pd.read_sql(gender_query, engine)
print(gender_df)

  GenderCode GenderDescription
0         01               MAN
1         02             WOMAN
2         03               BOY
3         04              GIRL
4         05              BABY
5         06            UNISEX

In [192]:
# Get SubCategory
subcat_query = text("""
SELECT 
   SubCategoryCode = AttributeCode,
   SubCategoryDescription = AttributeDescription 
    
FROM dbo.cdItemAttributeDesc
WHERE AttributeTypeCode LIKE '14'
""")
subcat_df = pd.read_sql(subcat_query, engine)
print(subcat_df)

    SubCategoryCode SubCategoryDescription
0            CA0010                   BUST
1           CA00100                 PNCH-T
2           CA00101               PNT-CR-J
3           CA00102             PNT-CR-JOG
4           CA00103               PNT-CR-T
..              ...                    ...
186          CA0096                 PANT-V
187          CA0097                    PJM
188          CA0098                   PL-L
189          CA0099                  PL-TR
190           CA022           CHINOS BASIC

[191 rows x 2 columns]

In [193]:
result_with_genderdesc = pd.merge(
    result_with_attribute,
    gender_df,
    on = ['GenderCode'],
    how = 'left'
)
print(result_with_genderdesc)

       ItemCode ColorCode ItemDim1Code  BEZ_Inv  BEZ  CHE_Inv  CHE  AD_Inv  \
0     101156651      C074           35      0.0  0.0      0.0  0.0     0.0
1       1358148     VR085           31      0.0  0.0      0.0  0.0     1.0
2       1359493     VR027          4_5      2.0  0.0      0.0  0.0     2.0
3       1360141     VR027            L      0.0  0.0      2.0  1.0     0.0
4       1361739     VR036            M      0.0  0.0      0.0  0.0     2.0
..          ...       ...          ...      ...  ...      ...  ...     ...
321  USB2004-V1     C0449        18_24      0.0  0.0      0.0  0.0     1.0
322  USB2004-V1     C0449        12_18      0.0  0.0      0.0  0.0     1.0
323  USB2100-V1     C0141          0_3      0.0  0.0      1.0  0.0     0.0
324  USB2106-V1     C0141          0_3      0.0  1.0      1.0  0.0     2.0
325        YORU     VR033            0      2.0  0.0      0.0  0.0     0.0

      AD  ORN_Inv  ...  CC_Inv   CC  Total  StartingWarehouseQty  \
0    0.0      0.0  ...     0.0  0.0    1.0                   1.0
1    1.0      0.0  ...     0.0  0.0    1.0                   2.0
2    0.0      2.0  ...     0.0  0.0    2.0                   2.0
3    0.0      3.0  ...     0.0  0.0    1.0                   1.0
4    1.0      0.0  ...     0.0  0.0    1.0                   1.0
..   ...      ...  ...     ...  ...    ...                   ...
321  0.0      1.0  ...     1.0  0.0    1.0                   1.0
322  0.0      0.0  ...     1.0  0.0    1.0                   1.0
323  0.0      1.0  ...     0.0  0.0    1.0                   1.0
324  0.0      2.0  ...     0.0  0.0    1.0                  18.0
325  0.0      2.0  ...     2.0  0.0    1.0                   8.0

     RemainingWarehouseQty        Barcode  ItemDescription  GenderCode  \
0                      0.0  8683398114379        MOLLY 2FX          03
1                      1.0  8682733294202          MICHAEL          01
2                      0.0  8682733344600        EMBERKIDS          03
3                      0.0  8682733385139             GADE          02
4                      0.0  8682733846470          SEKENDO          01
..                     ...            ...              ...         ...
321                    0.0  8684053126744          USB2004          05
322                    0.0  8684053126737          USB2004          05
323                    0.0  8684053210450          USB2100          05
324                   17.0  8684053210504          USB2106          05
325                    7.0  8683857086612             YORU          01

     SubCategoryCode  GenderDescription
0                G02                BOY
1             CA0023                MAN
2              CA006                BOY
3            CA00167              WOMAN
4             CA0020                MAN
..               ...                ...
321           CA0053               BABY
322           CA0053               BABY
323           CA0048               BABY
324           CA0048               BABY
325           CA0016                MAN

[326 rows x 27 columns]

In [194]:
result_with_subcatdesc = pd.merge(
    result_with_genderdesc,
    subcat_df,
    on = ['SubCategoryCode'],
    how = 'left'
)
print(result_with_subcatdesc)

       ItemCode ColorCode ItemDim1Code  BEZ_Inv  BEZ  CHE_Inv  CHE  AD_Inv  \
0     101156651      C074           35      0.0  0.0      0.0  0.0     0.0
1       1358148     VR085           31      0.0  0.0      0.0  0.0     1.0
2       1359493     VR027          4_5      2.0  0.0      0.0  0.0     2.0
3       1360141     VR027            L      0.0  0.0      2.0  1.0     0.0
4       1361739     VR036            M      0.0  0.0      0.0  0.0     2.0
..          ...       ...          ...      ...  ...      ...  ...     ...
321  USB2004-V1     C0449        18_24      0.0  0.0      0.0  0.0     1.0
322  USB2004-V1     C0449        12_18      0.0  0.0      0.0  0.0     1.0
323  USB2100-V1     C0141          0_3      0.0  0.0      1.0  0.0     0.0
324  USB2106-V1     C0141          0_3      0.0  1.0      1.0  0.0     2.0
325        YORU     VR033            0      2.0  0.0      0.0  0.0     0.0

      AD  ORN_Inv  ...   CC  Total  StartingWarehouseQty  \
0    0.0      0.0  ...  0.0    1.0                   1.0
1    1.0      0.0  ...  0.0    1.0                   2.0
2    0.0      2.0  ...  0.0    2.0                   2.0
3    0.0      3.0  ...  0.0    1.0                   1.0
4    1.0      0.0  ...  0.0    1.0                   1.0
..   ...      ...  ...  ...    ...                   ...
321  0.0      1.0  ...  0.0    1.0                   1.0
322  0.0      0.0  ...  0.0    1.0                   1.0
323  0.0      1.0  ...  0.0    1.0                   1.0
324  0.0      2.0  ...  0.0    1.0                  18.0
325  0.0      2.0  ...  0.0    1.0                   8.0

     RemainingWarehouseQty        Barcode  ItemDescription  GenderCode  \
0                      0.0  8683398114379        MOLLY 2FX          03
1                      1.0  8682733294202          MICHAEL          01
2                      0.0  8682733344600        EMBERKIDS          03
3                      0.0  8682733385139             GADE          02
4                      0.0  8682733846470          SEKENDO          01
..                     ...            ...              ...         ...
321                    0.0  8684053126744          USB2004          05
322                    0.0  8684053126737          USB2004          05
323                    0.0  8684053210450          USB2100          05
324                   17.0  8684053210504          USB2106          05
325                    7.0  8683857086612             YORU          01

     SubCategoryCode  GenderDescription  SubCategoryDescription
0                G02                BOY                     NaN
1             CA0023                MAN                  CHINOS
2              CA006                BOY                  BERM-T
3            CA00167              WOMAN                     TSH
4             CA0020                MAN       LONG-SLEEVE SHIRT
..               ...                ...                     ...
321           CA0053               BABY                BABY SET
322           CA0053               BABY                BABY SET
323           CA0048               BABY                     SET
324           CA0048               BABY                     SET
325           CA0016                MAN                     HAT

[326 rows x 28 columns]

In [195]:
#cdColorDesc
# Get Color Description
color_query = text("""
SELECT 
   ColorCode = ColorCode,
   ColorDescription = ColorDescription 
    
FROM dbo.cdColorDesc

""")
color_df = pd.read_sql(color_query, engine)
print(color_df)

    ColorCode ColorDescription
0         001            BLACK
1           1            black
2         100             GREY
3         110       GREY LIGHT
4        1190  NAVY BLUE-WHITE
..        ...              ...
918    YS0931      GREEN D'EAU
919    YS0995            GREEN
920    YS0997      GREEN FONCE
921    YS1003             BLUE
922    YS1004              RED

[923 rows x 2 columns]

In [196]:
result_with_color = pd.merge(
    result_with_subcatdesc,
    color_df,
    on = ['ColorCode'],
    how = 'left'
)
print(result_with_color)

       ItemCode ColorCode ItemDim1Code  BEZ_Inv  BEZ  CHE_Inv  CHE  AD_Inv  \
0     101156651      C074           35      0.0  0.0      0.0  0.0     0.0
1       1358148     VR085           31      0.0  0.0      0.0  0.0     1.0
2       1359493     VR027          4_5      2.0  0.0      0.0  0.0     2.0
3       1360141     VR027            L      0.0  0.0      2.0  1.0     0.0
4       1361739     VR036            M      0.0  0.0      0.0  0.0     2.0
..          ...       ...          ...      ...  ...      ...  ...     ...
321  USB2004-V1     C0449        18_24      0.0  0.0      0.0  0.0     1.0
322  USB2004-V1     C0449        12_18      0.0  0.0      0.0  0.0     1.0
323  USB2100-V1     C0141          0_3      0.0  0.0      1.0  0.0     0.0
324  USB2106-V1     C0141          0_3      0.0  1.0      1.0  0.0     2.0
325        YORU     VR033            0      2.0  0.0      0.0  0.0     0.0

      AD  ORN_Inv  ...  Total  StartingWarehouseQty  RemainingWarehouseQty  \
0    0.0      0.0  ...    1.0                   1.0                    0.0
1    1.0      0.0  ...    1.0                   2.0                    1.0
2    0.0      2.0  ...    2.0                   2.0                    0.0
3    0.0      3.0  ...    1.0                   1.0                    0.0
4    1.0      0.0  ...    1.0                   1.0                    0.0
..   ...      ...  ...    ...                   ...                    ...
321  0.0      1.0  ...    1.0                   1.0                    0.0
322  0.0      0.0  ...    1.0                   1.0                    0.0
323  0.0      1.0  ...    1.0                   1.0                    0.0
324  0.0      2.0  ...    1.0                  18.0                   17.0
325  0.0      2.0  ...    1.0                   8.0                    7.0

           Barcode  ItemDescription  GenderCode  SubCategoryCode  \
0    8683398114379        MOLLY 2FX          03              G02
1    8682733294202          MICHAEL          01           CA0023
2    8682733344600        EMBERKIDS          03            CA006
3    8682733385139             GADE          02          CA00167
4    8682733846470          SEKENDO          01           CA0020
..             ...              ...         ...              ...
321  8684053126744          USB2004          05           CA0053
322  8684053126737          USB2004          05           CA0053
323  8684053210450          USB2100          05           CA0048
324  8684053210504          USB2106          05           CA0048
325  8683857086612             YORU          01           CA0016

     GenderDescription  SubCategoryDescription  ColorDescription
0                  BOY                     NaN              BLUE
1                  MAN                  CHINOS       BROWN SABLE
2                  BOY                  BERM-T   GREEN MILITAIRE
3                WOMAN                     TSH   GREEN MILITAIRE
4                  MAN       LONG-SLEEVE SHIRT              BLUE
..                 ...                     ...               ...
321               BABY                BABY SET       GREEN LIGHT
322               BABY                BABY SET       GREEN LIGHT
323               BABY                     SET             CREME
324               BABY                     SET             CREME
325                MAN                     HAT         NAVY BLUE

[326 rows x 29 columns]

In [197]:
reassortbehindscene_df = result_with_color[['ItemCode',
                            'ColorCode',
                            'ColorDescription',
                            'ItemDescription',
                            'ItemDim1Code',
                            'GenderDescription',
                            'SubCategoryDescription',
                            'Barcode',
                            'RemainingWarehouseQty',
                            'BEZ','BEZ_Inv','CHE','CHE_Inv','AD','AD_Inv','CC','CC_Inv','STF','STF_Inv','ORN','ORN_Inv','AZ','AZ_Inv','ARD','ARD_Inv',
                            'Total',
                            ]].rename(columns={
    'ItemDim1Code': 'Size',
    'GenderDescription' : 'Gender',
    'RemainingWarehouseQty': 'reste',
    'SubCategoryDescription': 'Category',
    'ItemDescription': 'Name'
    
})

In [198]:
reassort_df = result_with_color[['ItemCode',
                            'ColorCode',
                            'ColorDescription',
                            'ItemDescription',
                            'ItemDim1Code',
                            'GenderDescription',
                            'SubCategoryDescription',
                            'Barcode',
                            'RemainingWarehouseQty',
                            'BEZ','CHE','AD','CC','STF','ORN','AZ','ARD',
                            'Total',
                            ]].rename(columns={
    'ItemDim1Code': 'Size',
    'GenderDescription' : 'Gender',
    'RemainingWarehouseQty': 'reste',
    'SubCategoryDescription': 'Category',
    'ItemDescription': 'Name'
    
})

In [199]:
# Export to Excel

reassort_df.to_excel(
    f"C:/Users/ACER/Downloads/r矇assort_{plan_date}_{warehouse_code}.xlsx",
    sheet_name='R矇assort',
    index=False
)
reassortbehindscene_df.to_excel(
    f"C:/Users/ACER/Downloads/r矇assort_{plan_date}_{warehouse_code} making of.xlsx",
    sheet_name='R矇assort',
    index=False
)